:root {
  --accent-color: #0090D8;
  --accent-color-low: #0070A8;
}

@media (prefers-color-scheme: light) {
  body{
    background-color: rgb(250, 250, 250);
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(6, 6, 6);
  }

  .navigation-bar{
    background-color: rgba(249, 249, 249, 0.8);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: rgb(32, 32, 32);
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(250, 250, 250);
  }

  .navigation-bar{
    background-color: rgba(15, 15, 15, 0.8);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}

iframe{
  border: none;
}

.navigation-bar{
  display: flex;
  position: fixed;
  box-shadow: 10px 0px 26px -2px rgba(0,0,0,0.02);
  -webkit-box-shadow: 10px 0px 26px -2px rgba(0,0,0,0.02);
  -moz-box-shadow: 10px 0px 26px -2px rgba(0,0,0,0.02);
  z-index: 11111111111111111111111111111111111111111111;
}


.fluent-icon-filled-accent{
  font-family: "FluentSystemIcons-Filled";
  color: var(--accent-color);
  font-style: normal;
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 16px;
}

.navigation-bar-item-icon{
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 16px;
}

.navigation-bar-item{
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  width: 100%;
  height: 86px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-right: 1px;
  border-radius: 6px;
}

.tapped{
  animation-name: tapped;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
}

.navigation-bar-label{
  position: relative;
  top: 17px;
  display: block;
}

.navigation-bar-selector{
  position: absolute;
  background-color: var(--accent-color);
  width: 5px;
  height: 28px;
  border-radius: 10px;
  display: flex;
}

.navigation-bar-label-accent{
  color: var(--accent-color);
  position: relative;
  top: 17px;
  display: block;
}

.navigation-bar-badge{
  position: relative;
  float: right;
  top: -43px;
  left: -8px;
}

.material-ripple {
	position: relative;
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 100%;
  height: 60px;
  top: -15px;
  display: inline-block;
}
/*
*/
.material-ink {
  position: absolute;
	background: #0063B1;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0.7;
}

.material-ink.animate {
	animation: ripple 0.6s linear;
}

.container{
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
}

@keyframes ripple {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes tapped{
  0% {
    transform: scale(1.0);
  }  
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.0);
  }
}
